@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --primary: #446DF6;
    --secondary: #08A4BD;
}

* {
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.btn {
    background: var(--secondary);
    color: #fff;
    border: none;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn:hover {
    background: var(--primary);
}

nav {
    background: var(--primary);
    padding: 1rem 2rem; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
    /* Postion sticky si puede hacer referencia a relative, pero fixed siempre es contra la ventana */
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav .logo {
    font-size: 1.5rem;
}

main {
    width: 90%;
    max-width: 1000px;
    margin: 3rem auto;
}

.galeria {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 1rem;
    row-gap: 3rem;
}

.card {
    border: 1px solid #ccc;
    position: relative;
    overflow: hidden;
}

.card .oferta {
    background: var(--secondary);
    color: #fff;
    font-weight: 700;
    padding: 0.25rem;
    width: 60%;
    position: absolute;
    text-align: center;
    transform: rotate(-25deg) translateX(-20%);
}

.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card .contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.card .precio {
    font-weight: 700;
    font-size: 1.25rem;
}

footer {
    text-align: center;
    padding: 0.25rem 1rem;
    border-top: 1px solid #ccc;
    width: 84%;
    margin: auto;
}


@media (min-width: 768px) {
    .galeria {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 992px) {
    .galeria {
        grid-template-columns: 1fr 1fr 1fr;
    }
}